@model n0145401_Neil_Moras_Assignment3.Models.Student

@{
    ViewBag.Title = "Show";
}
<a class="return-click" href="/Student/List">Return to  Students List</a>
<h2>About </h2>

<p>Hello! My name is @Model.StudentFname @Model.StudentLname . My student Number is @Model.StudentNumber and my enrollment date is @Model.EnrolDate</p>